<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Health Payer Processor</title>
    <style>
      td{padding: 8px;}
    </style>
  </head>
  <body>
    <h1><%= @title %></h1>
    
    <p><%= @link_1 %> <-- THIS LINK DOES NOT WORK</p>

    <h3>File Upload Test</h3>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="myfile"><br>
      <input type="submit" value="Upload">
    </form>
    
  </body>
</html>