<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Health Payer Processor</title>
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>Please check your terminal...</p>
    <p><%= @array %>
      
    </p>
      
  </body>
</html>